<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div className="navbar fixed-top navbar-light bg-white justify-content-center abz p-0">
        <a className=" nav-item nav-link w-100 justify-content-center" href="/">
            <h4 className="text-dark text-center">Alex</h4>
        </a>
    </div>
    
    <div className="photogrid">
        {{{PhotoArray()}}}
    </div>
</body>
</html>