.border-10 {
  border-radius: 10px !important;
  border: 3px solid white !important;
  
}
.abz {font-family: "ABeeZee", Serif !important;}
.point {
  cursor: pointer;
  display: flex;
}
.size-limit {
  max-width: 400px;
  max-height: 400px;
}
.photocard {
  width: 100rem !important;
  height: 100rem !important;
  max-width: 400px !important;
  max-height: 400px !important;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
  position: relative;
}

.photocard:hover > .geo{
    top: 92%;
}

.geo {
  position: absolute;
  z-index: 1000;
  background: lightgray;
  height: 1.3rem;
  top: revert;
  width: 10rem;
  float: right;
  left: 50%;
  top: 105%;
  border-radius: 3rem;
  transition: all .5s ease-in-out;
  text-align: center;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nil-button {
  text-decoration: none !important;
  background-color: transparent !important;
}
.bgw {background-color: white !important;}
.photogrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 20%;
  grid-row-gap: 3%;
  justify-items: center;
  width: 90vw;
}
.bg-div {
  background-color: #0d1836;
  width: 100vw;
  height: 100vh;
}
.cut-img {
  position: fixed;
  z-index: 2;
  right: 0;
}
.d-none{
    display: none;
}
.photo{
    width: 100%;
    height: 100%;
}
.loader{
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
}
.loading-spinner{
    display: flex;
    height: 100%;
    margin: auto;
}

.font-resp{font-size: 5rem !important;}
@media only screen and (max-width: 767px) {
    .font-resp{font-size: 5.5vh !important;}
    .photogrid{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1em !important;
        margin-top: 25%;
        margin-bottom: 25%;
        
      }
      .photocard{ 
        max-width: 90vw !important;
        }
      .m-pad{margin-top: 30px;}
      img{
          max-width: 60% !important;
          padding: 3%;
        }
  }