/* BEGIN LOGO CSS */
@font-face {
    font-family: 'Sans Forgetica Regular';
    src: local('Sans Forgetica Regular'), url(../assets/fonts/SansForgetica-Regular.otf) format('opentype');
}
.container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    width: 10%;
    height: 10%;
    grid-template-areas:
            "a l fci"
            "fcc e x";
}
#outer{
    display: inline-block;
}
.nom {
    font-size: calc(10px + 10vmin);
    line-height: 1.2em;
    font-family: 'Sans Forgetica Regular', "serif";
    text-align: center;
    width: 1em;
    height: 1em;
}

p{
    margin: 0;

}
.a{grid-area: a;}
.l{grid-area: l;}
.e{grid-area: e;}
.x{grid-area: x;}
.fillerCore{grid-area: fcc;}
.fillerInverse{grid-area: fci;}
/* END LOGO CSS */