body, html {
    height: 100%;
    margin: 0;

}
#holder{
    width: 62%;
    height: 100%;
}
.bgimg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
video{
    object-fit: cover;
    z-index: -1;
}
.content {
    position: absolute;
    text-align: center;
    left: 0;
    top: 13%;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}
.border{
    color: white;
    padding: 0;
    letter-spacing: normal;
    text-align: center;
    font: 5.56vw "Cabin";
    font-weight: 100;
    margin-top: 10%;

}
.fa {
    padding: 1.04vw;
    font-size: 1.74vw;
    width: 1.74vw;
    height: 1.74vw;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    animation-play-state: paused;
    background-color: transparent;
    margin: 0;

}
.fa-linkedin:hover {
    background: #00a0dc;
    border: .14vw solid #00a0dc;
    color: white;
}
.fa-github:hover {
    background: #6e5494;
    border: .14vw solid #6e5494;
    color: white;
}
.fa-envelope:hover {
    background: #6cc644;
    border: .14vw solid #6cc644;
    color: white;
}
.fa-plane:hover {
    background: #ff8000;
    border: .14vw solid #ff8000;
    color: white;
}
.fa-user:hover {
    background: #e32119;
    border: .14vw solid #e32119;
    color: white;
}
.fa-linkedin{
    background-color: transparent;
    border: .14vw solid black;
    color: black;
}
.fa-github {
    background-color: transparent;
    border: .14vw solid black;
    color: black;
}
.fa-envelope {
    background-color: transparent;
    border: .14vw solid black;
    color: black;
}
.fa-plane {
    background-color: transparent;
    border: .14vw solid black;
    color: black;
}
.fa-user {
    background-color: transparent;
    border: .14vw solid black;
    color: black;
}
