body, html{
    margin-top: 1vw;
    background: image("skyline.mp4");
}
.upper{
    font-size:3.82vw;
    font-family: "Quattrocento", serif;
    text-align: center;
    line-height: 3;
    width: 100%;
}
.profile{
    width: auto;
    max-width: 75%;
    height: auto;
    max-height: 75%;
    border-radius: 4%;
}
.txt{
    font-size: 1.15vw;
    font-family: "Assistant", serif;
    vertical-align: middle;
    height: 75%;
}
.pg{
    width: 85%;
}
.colL{
    float: left;
    width: 49%;
    text-align: right;
}
.colR{
    float: right;
    width: 49%;
}