body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}
.pageMax{
  min-height: 100%;
  min-width: 100%;
  margin:0;
  padding:0;
}
.app{
  background-color: white;
}
.appInverse{
  background-color: black;
}
/* Global color settings */
.core{
  background-color: black;
  color: white;
}
.inverse {
  background-color: white;
  color: black;
}
.inline{ display: inline-block;}
.header{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas: "logo link toggle";

}
.logo{
  margin-left: 5%;
  margin-top: 5%;
  grid-area: logo;
}
.link{
  grid-area: link;
  text-align: center;
  margin-top: 10%;
}
.toggle{
  grid-area: toggle;
  text-align: center;
  margin-top: 15%;
}
