@font-face {
  font-family: 'Sans Forgetica Regular';
  src: local('Sans Forgetica Regular'), url(./assets/SansForgetica-Regular.otf) format('opentype');
}
.container{
  display: grid;
  grid-template-rows: .5fr .5fr;
  grid-template-columns: .5fr .5fr .5fr ;
  justify-content: start;
  background-color: black;
  width: 15%;
  height: 15%;
  overflow: hidden;
}
.nom {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 5vmin);
  color: black;
  font-family: 'Sans Forgetica Regular', "serif";
}

.core{
  color: white;

}
.inverse{
  background-color: white;

}
p{
  margin: 0;
  align-self: start;
}
.a{
  grid-column-start: 1;
  grid-row-start: 1;

}
.l{
  grid-column-start: 2;
  grid-row-start: 1;
}
.e{
  grid-column-start: 2;
  grid-row-start: 2;
}
.x{
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  justify-content: flex-end;
}