.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    outline: 0;
}
input{
    outline:0;
}

.switch input {
    outline: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .5s;
    transition: .5s;
    outline: 0;
}
/* this is the in-range button*/
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
    outline: 0;
    background: url(./assets/icons/002-sun.svg);
}
/* range after checked*/
input:checked + .slider {
    background-color: mediumpurple;
    outline: 0;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
    outline: 0;
}
/* inrange button after it's been checked*/
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    outline: 0;
    background: url(./assets/icons/001-moon.svg);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.mode:before{

}
.mode:checked + .mode:before{

}